* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  border-radius: 20px;
  width: 384px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 10px 10px hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-img {
  width: 100%;
  border-radius: 10px;
}



.badge {
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 12px;
}

.badge p {
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  padding: 4px 12px;
}

.released-date {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
  color: hsl(0, 0%, 7%);
}

.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 12px;
}

.title:hover{
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.description {
  font-size: 16px;
  line-height: 150%;
  color: hsl(0, 0%, 42%);
  margin-bottom: 24px;
}



.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}
